body{
    background-color: rgba(25,29,40,255);
    min-height: 50%;
    font-family:monospace;
    font-size: 20px;
}
.tophead{
    margin-left: 10px;
    color: rgba(107,201,202,255);
    font-size: 40px;
}
.nav{
    margin-top: 30px;
   display: flex;
   flex-direction: column;
}
.tophead{
    margin: none;
    float: left;
    min-width: 40%;
}
.top-dropdown{
    float: left;
}
.topbtn {
   font-size: 20px;
   margin-top: 8px;
   margin-right: 15px;
   padding: 6px;
    border-radius: 8px;
    color: white;
    background-color: gray;
    border: none;
}
.toogle{
    float:right;
}
.table table{
    color:  #ffffff;
    width: 100%;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}
.table table  tbody td{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2e3241;
    border-radius: 4px;
}

























.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }